section.main.st-emotion-cache-uf99v8.ea3mdgi8{
    background-color: #fff5f5;
}
span.st-emotion-cache-10trblm{ 
    color: #fff5f5;
   
 }
 .e1nzilvr5{
   background: #fff5f5;
 }
 section.st-emotion-cache-1gulkj5{
    background-color: #ffffff;
 }
 button.st-emotion-cache-7ym5gk{
    background: #ff6961;
    color: #ffffff;
    border: 0 solid black;
 }
 .st-emotion-cache-7ym5gk:hover {
   background: #fff5f5;
   color: #304250;
   border: 1px solid #ff6961;
}
.st-emotion-cache-12xsiil{
   background: #ffffff;
   padding: 5px 0;
}
.st-emotion-cache-fis6aj {
   background: #ffffff;
   margin-top: 14px;
   border-radius: 7px;
}
.st-emotion-cache-1kyxreq{
   display: flex;
   align-items: center;
   justify-content: center;
}
img, svg{
   border-radius: 20px;
}
.st-emotion-cache-eqffof p{
   font-size: larger;
   font-style: italic;
   padding-top: 17px;
}
.st-emotion-cache-eqffof{
   background: black;
    color: #fff5f5;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}


 
